doctype html
html
    link(rel='preconnect' href='https://fonts.gstatic.com')
    link(href='https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap' rel='stylesheet')  
    head
        link(rel='icon', href='./public/images/ist_logo.svg')
        title Which image is more natural?
    style
        include style.css
    body(style='margin: 0')
    form(action='/test' method='POST')
        div(style = 'display:flex; flex-direction: row; flex-wrap:wrap; justify-content:space-evenly; margin: 0')
            div(style = 'padding: 5px; padding-bottom: 0px; margin: 0px; display: flex; flex-shrink: 0; flex-grow: 0; flex-direction:column')
                p(style='margin: 0;margin-block: 0; text-align: center; padding-top: 1px; font-family:arial; font-size: 21px') 
                    strong A
                image(src=src_L, alt='A', name='0')
                button(type="submit", name="value", value=0, class="btn-test", id='A') Image A
            div(style = 'padding: 5px; padding-bottom: 0px; margin: 0px; display: flex; flex-shrink: 0; flex-grow: 0; flex-direction:column')
                p(style='margin: 0; padding-top: 1px; text-align: center; font-family:arial; font-size: 21px') 
                    strong B
                img(src= src_R, alt='B', name='1')
                button(type="submit", name="value", value=1, class="btn-test", id='B') Image B
    div(style='padding: 0px; margin: 0px; margin-block: 0; height:25px; display: flex; flex-direction: row; justify-content: center')
        progress(value=current max=nPairs)
 
    
    script.
        document.addEventListener("keydown", function onEvent(event){
        if (event.key === "ArrowLeft") {
        document.getElementById("A").click();
        }
        if(event.key === "ArrowRight"){
        document.getElementById("B").click();
        }});