doctype html
html
    head
        title Which image is more natural?
    body(style='margin: 0')
    if(ans_user != null)
        if(ans_user == ans_right)
            if(ans_right)
                - var border_L = 'border: 2px solid #FFFFFF';
                - var border_R = 'border: 2px solid #00FF00';
            else
                - var border_L = 'border: 2px solid #00FF00';
                - var border_R = 'border: 2px solid #FFFFFF';
        else
            if(ans_right)
                - var border_L = 'border: 2px solid #FF0000';
                - var border_R = 'border: 2px solid #00FF00';
            else
                - var border_L = 'border: 2px solid #00FF00';
                - var border_R = 'border: 2px solid #FF0000';

    form(action='/train' method='POST')
        div(style = 'display:flex; flex-direction: row; flex-wrap:wrap; justify-content:space-evenly; margin: 0')
            div(style = 'width: 940px; padding: 5px; margin: 0px; display: inline-block; flex-shrink: 0; flex-grow: 0; align-content: center')
                p(style='margin: 0; text-align: center; padding-top: 1px; font-family:arial; font-size: 21px') 
                    | A
                image(src=src_L, alt='A', name='0', id ='A', style = border_L)
                if(ans_user == '' || ans_user == null)
                    button(type="submit", name="value", value=0, style='position: relative; left: 46%; width: 70px;', id='A') Image A
            div(style = 'width: 940px; padding: 5px; margin:0px; display: inline-block; flex-shrink: 0; flex-grow: 0; align-content: center', id = 'div')
                p(style='margin: 0; padding-top: 1px; text-align: center; font-family:arial; font-size: 21px') 
                    | B
                img(src= src_R, alt='B', name='1', id='B', style = border_R)
                if(ans_user == '' || ans_user == null)
                    button(type="submit", name="value", value=1, style='position: relative; left: 46%; width: 70px', id='B') Image B

        if( !(ans_user == '' || ans_user == null))
            button(type="submit", name="value", value='', style='position: relative; left: 46%; width: 100px', id='B') Next Image

    div(style='left: 0; right: 0; bottom:0; padding-top: 5px;padding-bottom: 0px; text-align:center')
        progress(value=current max=nTrain style='width:99%; height: 15px')
    
    script.
        document.addEventListener("keydown", function onEvent(event){
        if (event.key === "ArrowLeft") {
        document.getElementById("A").click();
        }
        if(event.key === "ArrowRight"){
        document.getElementById("B").click();
        }});